*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #240750;
    text-align: center;
    color: #ffffc7;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #b0413e;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: #344C64;
}
#reset{
    padding: 1rem;
    font-size: 3vmin;
    background-color: #577B8D;
    color: #232121;
    border-radius: 1rem;
    cursor: #000;
    border: none;
    cursor: pointer;
}
#reset:hover{
    background-color: transparent;
    color: #f7f7a7;
    border: 2px solid #f7f7a7;
}
#newBtn{
    padding: 1rem;
    font-size: 3vmin;
    background-color: #577B8D;
    color: #000;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
}
#newBtn:hover{
    background-color: transparent;
    color: #f7f7a7;
    border: 2px solid #f7f7a7;
}
#msg{
    color: #ffffc7;
    font-size: 5vmin;
}
.msgContainer{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}